@using LojaProdutosCurso.Dto.Produto
@model EditarProdutoDto


@* Exibe mensagens de sucesso ou erro usando TempData, que é uma forma de passar dados entre ações do controlador. 
Se houver uma mensagem de sucesso, ela será exibida em um alerta verde, e se houver uma mensagem de erro, ela será exibida em um alerta vermelho. 
Essas mensagens são úteis para informar o usuário sobre o resultado de suas ações, como o sucesso ou falha ao cadastrar um produto. *@

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@* Exibe mensagens de erro usando TempData, que é uma forma de passar dados entre ações do controlador. *@
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}


@*  View para edição de produtos *@
<div class="container mt-5">

    @* O formulário de edição de produtos utiliza o método POST para enviar os dados para a ação "Editar" do controlador "Produto". O atributo enctype="multipart/form-data" é necessário para permitir o upload de arquivos, como imagens do produto. *@
    <form asp-action="Editar" asp-controller="Produto" method="post" enctype="multipart/form-data">

        <h2>Editar Produto - @Model.Nome</h2> @* Exibe o nome do produto que está sendo editado *@

        @* Campos ocultos para armazenar o ID e a foto do produto *@
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Foto" />

        @*  Campo para o nome do produto *@
        <div class="mb-1">
            <label class="form-label">Foto:</label>
            <input class="form-control shadow-none" type="file" name="foto" />
        </div>

        @*  Campo para o nome do produto *@
        <div class="mb-1">
            <label class="form-label">Nome:</label>
            <input class="form-control shadow-none" type="text" asp-for="Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        @*  Campo para o nome do produto *@
        <div class="mb-1">
            <label class="form-label">Marca:</label>
            <input class="form-control shadow-none" type="text" asp-for="Marca" />
            <span asp-validation-for="Marca" class="text-danger"></span>
        </div>

        @*  Campo para o nome do produto *@
        <div class="mb-1">
            <label class="form-label">Valor:</label>
            <input class="form-control shadow-none" type="number" min="1" step="any" asp-for="Valor" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>

        @*  Campo para o nome do produto *@
        <div class="mb-1">
            <label class="form-label">Quantidade:</label>
            <input class="form-control shadow-none" type="number" min="1" step="any" asp-for="QuantidadeEstoque" />
            <span asp-validation-for="QuantidadeEstoque" class="text-danger"></span>
        </div>

        @*  Campo para selecionar a categoria do produto. O atributo asp-items é usado para preencher o dropdown com as categorias disponíveis, 
         que são passadas para a view através do ViewBag.Categorias. O SelectList é utilizado para criar uma lista de opções, onde "Id" é o valor 
         que será enviado ao servidor e "Nome" é o texto exibido para o usuário. O campo de validação asp-validation-for exibe mensagens de erro 
         caso a categoria não seja selecionada corretamente. *@
        <div class="mb-1">
            <label class="form-label">Categoria</label>
            <select
                asp-for="CategoriaModelId"
                class="form-select"
                asp-items="@(new SelectList(ViewBag.Categorias,"Id","Nome", Model.CategoriaModelId))">
            </select>
            <span asp-validation-for="CategoriaModelId" class="text-danger"></span>
        </div>
        
       @* Botões para cadastrar o produto ou voltar para a página de listagem de produtos. O botão de cadastro é do tipo submit, 
       o que significa que ele enviará o formulário para o servidor quando clicado. O link "Voltar" redireciona o usuário para a ação "Index" do controlador 
       "Produto", onde ele pode ver a lista de produtos cadastrados. Ambos os botões estão estilizados usando classes do Bootstrap para garantir uma aparência 
       consistente e responsiva.*@ 
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-success w-50 mx-2"><i class="bi bi-plus-circle mx-2"></i>Editar</button>
            <a class="btn btn-info w-50" asp-action="Index"><i class="bi bi-arrow-left-circle mx-2"></i>Voltar</a>
        </div>

    </form>

</div>

